<h1>Weather Forecaster</h1>
<p>Enter a zip code to retrieve weather data</p>
<%= form_with do |form| %>
  <%= form.label :zip_code, "Zip Code:" %>
  <%= form.text_field :zip_code %>
  <%= form.submit "Search" %>
<% end %>
